<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add
        name="ApplicationServices"
        connectionString="Data Source=CTS08391847\DS_AUDITXML_DB;Initial Catalog=ASPNETDB;User ID=ds_auditxml;Password=ds_auditxml"
        providerName="System.Data.SqlClient"
    />
    <!--    
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
-->
  </connectionStrings>
  <appSettings>
    <add key="validationKey" value="AAA5998D2847B6114C8C050CA188C8D2FAAB96A36BF2C1CF20F00CA0A15BC770797671FCED396C04A219EC55477E365D037B8A647C889D127DD9E4FA63CB941E"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="PathServer" value="\\160.118.136.79\transf\#Msoares\#DEPLOY\Audit\"/>
    <add key="PathMoveServer" value="\\160.118.136.79\transf\#Msoares\#DEPLOY\Audit\xml_data\"/>
    <add key="ArqconnServer" value="AT_TSIDE_msoares.txt"/>
    <add key="ArqcoMvServer" value="AT_TSIDE_msoares.txt"/>
  </appSettings>
</configuration>
